/* horarios */
.bodyhorario{
   background-image: url(img/hermoso-concepto-cambio-horario-primavera.jpg);
   padding: 10px;
   margin: 50px;
}
.dias{
   font-weight: bold;
   font-size: 19px;
}
.horario{
font-style: italic;
}
.horario2{
   font-style: italic;
}
.lunes{
   color: #420e8f;
}
.martes{
   color: #f60202;
}
.miercoles{
   color: #00ff00;
}
.jueves{
   color: #ff006a;
}
.viernes{
   color: #ff00d4;
}
.ho1{
   color: #420e8f;
}
.ho2{
   color: #f60202;
}
.ho3{color: #00ff00;
}
.ho4{
   color: #ff006a;
}
.ho5{
   color: #ff00d4;
}
.ho6{
   color: #420e8f;
}
.ho7{
   color: #f60202;
}
.ho8{
   color: #00ff00;
}
.ho9{
   color: #ff006a;
}
/* index */
.h1{
 color: #062eca;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 .h2{
    color: #420e8f;
    font-family: sans-serif;
 }
 .fondo{
    background-image: url("img/fondo\ de\ pantalla.jpg");
    border-style: solid;
    padding: 50px;
    text-align: left;
    border-color: rgb(0, 0, 106);
    border-width: 5px;
    margin: 5px;
 }
 .footer{
    background-color: rgb(102, 184, 199);
    border-style: solid;
    border-color: rgb(10, 108, 108);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

 }
 .nav{
    border-style: ridge;
    border-color: black;
        margin-left: 5px;
        margin-right: 5px;
        background-color: rgb(196, 255, 255);
        padding: 5px;  
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 /* contacto */
 